<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <!-- <h1>ALL LISTINGS</h1> -->
        <style>
            #filters {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }

            .filter {
                text-align: center;
                margin-right: 2rem;
                margin-top: 2rem;
                opacity: 0.7;
                font-size: 0.8rem;
            }

            .filter:hover {
                opacity: 1;
                cursor: pointer;
            }
            .tax-Info{
                display: none;
                
            }
            .tax-toggle{
                border: 2px gray solid;
                border-radius: 20px;
                height: 3.1rem;
                padding: 1rem;
                display: flex;
                align-items: center;
                
            }
        </style>
        <div id="filters">
            <div class="filter">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-city"></i></div>
                <p>Iconic cities</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p>Mountains</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-place-of-worship"></i></div>
                <p>Castles</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Pools</p>
            </div>
            <div class="filter">
                <div><i class="fa-regular fa-face-surprise"></i></div>
                <p>OMG!</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-handshake"></i></div>
                <p>Best deals</p>
            </div>
            <div class="filter">
                <div><i class="fa-brands fa-dyalog"></i></div>
                <p>Value</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
            </div>
            <div class="filter">
                <div><i class="fa-regular fa-snowflake"></i></div>
                <p>Artic</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-cow"></i></div>
                <p>Farms</p>
            </div>

            <div class="tax-toggle">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                    <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
                </div>
            </div>
        </div>

        <!-- <form method="GET" action="/listings/new">
        <button>New </button>
    </form> -->
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
            <% for(let listing of allListing){ %>
                <a href="/listings/<%=listing._id%>" class="listing-link">
                    <div class="card col  listing-card">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_img" style="height:20rem">
                        <div class="card-img-overlay"><i><b>Owned By <%=listing.owner.username%></b></i></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b>
                                <br>
                                &#8377;
                                <% if (listing.price) { %>
                                    <%= listing.price.toLocaleString("en-IN") %>

                                        <% } else { %>
                                            N/A
                                            <% } %>
                                                / night <i class="tax-Info"> <b>+ 18% tax</b></i>
                                                
                            </p>
                           

                        </div>
                    </div>
                </a>
                <% } %>
        </div>





    </body>

    <script>
        let taxSwitch = document.getElementById("switchCheckDefault");
        taxSwitch.addEventListener("click", () => {
             let taxinfo=document.getElementsByClassName("tax-Info");
        
        for(info of taxinfo){
            if(info.style.display !="inline"){
                info.style.display="inline";
            }
            else{
                info.style.display="none";
            }
        }
            
        })


       
    </script>